
//-! Как создать уникальную переменную ? и использовать ее 


//-# Вариант 1 
//- Префиксы переменных:

- var homepage_title = "Добро пожаловать на наш сайт"
- var aboutpage_title = "О нас"

title.homepage= homepage_title
title.aboutpage= aboutpage_title

//-# Вариант 2 
//- Использование объекта для группировки переменных:
- var homepage = {
  title: "Добро пожаловать на наш сайт",
  description: "Это наш сайт. Наслаждайтесь!"
}

title= homepage.title


//-# Вариант 3 
//- Пространства имен 
- var homepage_title = "Добро пожаловать на наш сайт"
- var aboutpage_title = "О нас"
- var title = {}

title.homepage = homepage_title
title.aboutpage = aboutpage_title



//-# Вариант 4 
//- Использование функции, чтобы создавать область видимости:

- function homepage() {
  var title = "Добро пожаловать на наш сайт";
  return title;
}

title= homepage()



//-# Вариант 5
//- Использовать префиксы 
- class Homepage {
  constructor() {
    this.title = "Добро пожаловать на наш сайт";
    this.description = "Это наш сайт. Наслаждайтесь!";
  }
}

- var homepage = new Homepage();

title= homepage.title