

//- :------------------------------------------------------------------

- const fructs = ['Apple2', 'Banana2', 'Orange2']


//- :------------------------------------------------------------------

//- # ----------------Перебор Элементов: 
.loops-array
  //- -----------------------------------------------------------
  ul.list
    h3 Запись элементов из массива 
    each item in ['Apple', 'Banana', 'Orange']
      li #{item}
  //- -----------------------------------------------------------
  ul.list
    h3 Перебор объектов или массивов
    each val, key in {name: 'John', age: 30}
      li #{key}: #{val}
  //- -----------------------------------------------------------
  ul.list
    h3 Можно выносить массив отдельно от структуры
    each item in fructs
      li #{item}
  //- -----------------------------------------------------------
  ul.list
    h3 N-количество повторений
    - for(let i = 0; i < 3; i++)
      li Одинаковые элементы ( номер: #{i} )
  //- -----------------------------------------------------------
