include ../_elements/burger-real/_burger-real.pug
include ../_elements/newspaper-clipping/_newspaper-clipping.pug
include ../_elements/Link/_Link.pug
include ../_elements/Button/_Button.pug





mixin header-default(data)
  -
    const options = {
      headerClass: 'header-default',
      menuClass: 'menu-default',
      menuItems: [
        {
          text: 'Home',  
          image: `<i class="bi bi-house-fill"></i>` 
        }, 
        {
        text: 'Sections', 
        image: '<i class="bi bi-search"></i>',
        dropdown: [
        { to: "/category2", text: "Tabsing" },
        { to: "/category3", text: "Caruseling" }
        ]
        },
        {
          text: 'Help', 
          image: '<i class="bi bi-question-circle"></i>', 
          modalTarget : 'info-modal', 
          closeMenuOnClick : 'data-close-menu', 
          classNamed: 'modals-buttons-group' 
        },
        {
          text: 'Sing in', 
          image: '<i class="bi bi-person-circle"></i>', 
          modalTarget : 'signin-modal', 
          closeMenuOnClick : 'data-close-menu',
          classNamed: 'modals-buttons-group'
        },
      ],
      
    }
    const { headerClass, menuClass, menuItems } = Object.assign({}, options, data)
    
  -
  header(class=`${options.headerClass}`)  
    div(class=`${options.headerClass}__container`)
      div(class=`${options.headerClass}__left`)
        a(href="/" class=`${options.headerClass}__logo`)
          <i class="bi bi-github"></i>
        div(class=`${options.headerClass}__title`)
          //- +search-element('header-search')
          p STORE
      div(class=`${options.menuClass} ${options.headerClass}__right`)
        +Button({text: 'Sing In', type: 'button', 
          className: `${options.menuClass}__signin modals-buttons-group`})(data-modal-target='signin-modal')
        div(class=`${options.menuClass}__burger`)
          +burger-real()
          
        nav(class=`${options.menuClass}__overlay`)
          div(class=`${options.menuClass}__body`)
            button(type='button', aria-label='Close menu' class=`${options.menuClass}__close`)
              <i class="bi bi-x-octagon-fill"></i>
            h2(class=`${options.menuClass}__title`)
              +newspaper-clipping('menu')  
            //- div(class=`${options.menuClass}__list-title`)
              
            ul(class=`${options.menuClass}__list`)
              span(class=`${options.menuClass}__info-modal modals-buttons-group` data-close-menu data-modal-target='info-modal')
            
      
              each item in options.menuItems
                li(class=`${options.menuClass}__item`)
                  div(class=`${options.menuClass}__image`)!= item.image
                  if item.dropdown
                    div(class=`${options.menuClass}__dropdown`)
                      +Link({
                        to: '#', 
                        text: `${item.text}`, 
                        title: `Goto...${item}`,
                        className: `${options.menuClass}__link ${item.classNamed}`
                      })(
                        aria-label=`goto...${item}` 
                        data-modal-target=item.modalTarget 
                        data-close-menu=item.closeMenuOnClick 
                      )
                      ul(class=`${options.menuClass}__submenu`)
                        each subItem in item.dropdown
                          li(class=`${options.menuClass}__subitem`)
                            +Link({
                              to: subItem.to, 
                              text: subItem.text, 
                              title: `Goto...${subItem.text}`,
                              className: `${options.menuClass}__sublink`
                            })(
                              aria-label=`goto...${subItem.text}`
                            )
                  else 
                    +Link({
                      to: '#', 
                      text: `${item.text}`, 
                      title: `Goto...${item}`,
                      className: `${options.menuClass}__link ${item.classNamed}`
                    })(
                      aria-label=`goto...${item}` 
                      data-modal-target=item.modalTarget   
                      data-close-menu=item.closeMenuOnClick 
                    ) 


              
                
    
