


//- mixins.pug
mixin footer(options = {type: 'detailed'})
  footer(class=`footer footer-${options.type}`)
    if options.type === 'simple'
      div(class=`footer-${options.type}__container`)
        div(class=`footer-${options.type}__element`) Footer #{options.type}
    else if options.type === 'detailed'
      div(class=`footer-${options.type}__paragraph`) Detailed Footer
      div(class=`footer-${options.type}__paragraph`) Additional details here





