

mixin CardGame(selector, games)
    -
      const className = 'card'

    each card in games
      div(class=`${selector} ${className}` data-content-system=card.category)
        a(href='#' class=`${selector}__link ${className}__link`)

          figure(class=`${selector}__media ${className}_media`)
            img(src=card.image, alt="image")
            figcaption.card__overlay(class=`${selector}__overlay ${className}__overlay`)
              div(class=`${selector}__content ${className}__content`)
                div(class=`${selector}__preview ${className}__preview`)
                  div(class=`${selector}__video ${className}__video-wrapper`)
                    video(class=`${selector}__video ${className}__video` autoplay loop muted )
                      //- source(src="/assets/media/example-video.webm", type="video/webm")
              div(class=`${selector}__info ${className}__info`)
                h4(class=`${selector}__title ${className}__title`) #{card.title}
                p(class=`${selector}__txt ${className}__txt`) #{card.txt}
      
        div(class=`${selector}__footer ${className}__footer`)

          div(class=`${selector}__actions ${className}__actions`)
            button(type="button" class=`${selector}__purchase-btn ${className}__purchase-btn`) 
              span Purchase
              <span><i class="bi bi-cart4"></i><span>
          div(class=`${selector}__pricing ${className}__pricing`) 
            span.original-price #{card.oldPrice ? card.oldPrice : '999 $'}
            span.discounted-price #{card.newPrice ? card.newPrice : '256 $'}
          div(class=`${selector}__engagement ${className}__engagement`)
            <span class='heart-icon'> <i class="bi bi-suit-heart-fill"></i></span>
            span.likes-count #{card.likes ? card.likes : '1.618'}


//- div(class=`${cfg.selector} ${index === 0 ? cfg.activeSelector : ''}` 