
mixin CardGame(selector, games)
    -
      const className = 'card'

    each card in games
      div(class=`${selector} card` data-content-system=card.category)
        a(href='#' class=`${selector}__link ${className}__link`)
          figure(class=`${selector}__image ${className}_image`)
            img(src=card.image, alt="image")
            figcaption.card__overlay(class=`${selector}__overlay`)
              div(class=`${selector}__top card__top`)
                div(class=`${selector}__media`)
                  div(class=`${selector}__video`)
                    video(autoplay loop muted )
                      //- source(src="/assets/media/example-video.webm", type="video/webm")
              div(class=`${selector}__bottom card__bottom`)
                h4(class=`${selector}__title card__title`) #{card.title}
                p(class=`${selector}__txt card__txt`) #{card.txt}
       
       
        div(class=`${selector}__footer card__footer`)
          div(class=`${selector}__btn card__btn`)
            button(type="button") 
              <span>Buy</span>
            <span><i class="bi bi-cart4"></i><span>
          div(class=`${selector}__price card__price`) 
            span #{card.oldPrice ? card.oldPrice : '999 $'}
            span #{card.newPrice ? card.newPrice : '256 $'}
          div(class=`${selector}__likes card__likes`)
            <span> <i class="bi bi-suit-heart-fill"></i></span>
            span #{card.likes ? card.likes : '1.618'}
